@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

header {
  display: flex;
  padding: 2vw 5vw;
  justify-content: space-between;
  align-items: center;
}
header .headerLogoContainer {
  font-weight: bold;
  line-height: 36px;
  font-size: 30px;
  color: #111827;
}
header ul {
  display: flex;
  align-items: center;
  gap: 2.5vw;
}
header ul li {
  font-size: 16px;
  list-style-type: none;
}
header ul li a {
  color: #4b5563;
  text-decoration: none;
}
header ul li .downloadCV {
  color: #f9fafb;
  padding: 0.5vw 1vw;
  border-radius: 12px;
  background-color: #111827;
}
header ul li:nth-child(4) {
  border-right: #f3f4f6;
}

.firstContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  padding: 5vw;
}
.firstContainer .firstTextContainer {
  display: flex;
  flex-direction: column;
}
.firstContainer .firstTextContainer .firstDescription {
  padding-block: 2vw;
  max-width: 50vw;
  font-size: 16px;
  color: #4b5563;
}
.firstContainer .firstTextContainer span {
  display: grid;
  grid-template-columns: 2vw 14vw;
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  align-items: center;
  gap: 0.1vw;
  font-size: 16px;
  color: #4b5563;
}
.firstContainer .firstTextContainer span p {
  width: 14vw;
}
.firstContainer .firstTextContainer .firstSocialmediaContainer {
  padding-block: 2vw;
  display: flex;
  gap: 0.1vw;
  justify-items: center;
}
.firstContainer .firstImageContainer {
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vw;
  position: relative;
  overflow: hidden;
}
.firstContainer .firstImageContainer img {
  position: absolute;
  width: 15vw;
  background: #4b5563;
  background-position: 10% 25%;
  animation: animate infinite 5s;
  border-radius: 20px;
}
@keyframes animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.secondContainer {
  background: #f9fafb;
  display: grid;
  justify-content: center;
  gap: 2vw;
  align-items: flex-start;
  justify-items: center;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
}
.secondContainer .secondAboutMe {
  grid-column: 1/3;
}
.secondContainer .secondTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vw;
  grid-column: 2/3;
}
.secondContainer .secondTextContainer p {
  max-width: 40vw;
  font-size: 16px;
  color: #4b5563;
}
.secondContainer .secondTextContainer ul {
  display: grid;
  gap: 20px;
  margin-left: 1.25vw;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}
.secondContainer .secondTextContainer ul li {
  color: #4b5563;
}
.secondContainer .secondImageContainer {
  grid-column: 1/2;
  display: flex;
  width: 50vw;
  height: 50vw;
  background-size: cover;
  background-repeat: no-repeat;
}
.secondContainer .secondImageContainer img {
  animation: 5s secondAnim infinite;
}
@keyframes secondAnim {
  0% {
    box-shadow: 0;
  }
  50% {
    box-shadow: 10px 15px 15px #4b5563;
  }
  100% {
    box-shadow: 0;
  }
}/*# sourceMappingURL=index.css.map */